* {
    font-weight: 200;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
/* Main Index */
.main-index {
    margin-top: 20px;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
/* Form Inicio de Sesion Index */
.form-section {
    grid-row: 1/2;
    grid-column: 1/4;
}
.form-index {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-index > header {
    text-align: center;
}
.btn {
    margin-top: 8px;
}
/* Text Section */
.text-section {
    grid-row: 2/3;
    grid-column: 1/2;
}
/* Vid Section */
.vid {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
}
.vid > video {
    width: fit-content;
    height: 400px;
}
/* footer */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer-index {
    margin-top: 20px;
    width: 100%;
    }
    .footer-index > p {
    display: inline-block;  
    width: 60%;
    }
    .links-container {
    width: 20%;
    display: inline-block;
    text-align: end;
    }
    .main-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr fit-content;
        width: 100vw;
        gap: 6px;
        grid-auto-flow: row;
        justify-content: center;
    }
    .form-section {
        justify-self: center;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .text-section {
        justify-self: center;
        grid-row: 2/3;
        grid-column: 1/2;
        margin-right: 10px;
    }
    .text-section > p {
        display: inline-block !important;
    }
    .vid {
        justify-self: center;
        grid-column: 1/2;
        grid-row: 3/4;
        margin-left: 20px;
    }
}
@media screen and (min-width: 1024px) {
    .footer-index {
        margin-top: 20px;
        width: 100%;
        }
        .footer-index > p {
        display: inline-block;  
        width: 60%;
        }
        .links-container {
        width: 20%;
        display: inline-block;
        text-align: end;
        }
}
/* Media queris del index */

@media screen and (max-width: 767px) {
    body {
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    .main-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr fit-content;
        width: 100vw;
        gap: 6px;
        grid-auto-flow: row;
        justify-content: center;
    }
    .form-section {
        justify-self: center;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .text-section {
        justify-self: center;
        grid-row: 2/3;
        grid-column: 1/2;
        margin-right: 10px;
    }
    .text-section > p {
        display: inline-block !important;
    }
    .vid {
        justify-self: center;
        grid-column: 1/2;
        grid-row: 3/4;
        margin-left: 20px;
    }
    .footer-index {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        border-top: 1px outset black;
    }
    .footer-index > p{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .footer-index > .links-container {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .links-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
/* Fin de Index */
/* Comienzo de Productos */
/* Main Productos */
.h1p {
    text-align: center;
    font-weight: 300;
    font-family: sans-serif;
    text-decoration: underline;
}
.imgp {
    width: 200px;
    height: 200px;
    object-fit: contain;
    overflow: hidden;
}
.pricing1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}
.Pack {
    width: 200px;
    border: 2px solid black;
}
.Pack > header, p{
    text-align: center;
}
.packs {
    display: inline-block;
    margin: 0;
    position: relative;
}
.A {
    left: 13%;
}
.A > label {
    position: absolute;
    bottom: 205px;
}
.B {
    left: 30%;
}
.C {
    left: 48%;
}
.imgl {
    text-align: center;
    width: 100%;
    position: absolute;
}
/* Main envios */
h1 {
    text-align: center;
}
p {
    text-align: center;
}
/* Main contactos */
.main-contacto {
    width: 100%;
    height: fit-content;
    margin: 0px 10px;
}
.form-contacto {
    display: flex;
    width: 100vw;
}
@media screen and (max-width: 767px) {
    .links {
        display: flex;
        flex-direction: column;
    }
}
/* Main Info*/
main > h2 {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
}
main > p {
    text-align: center;
}