* {
	font-family: sans-serif;
	font-weight: 100;
}
.flex-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	max-height: 100vh;
	background: #222;
	margin: 50px 30px;
	padding: 20px;
	border: 8px solid transparent;
	outline: 4px solid white;
}
.form {
	min-width: 400px;
	flex: 1;
	text-align: center;
	padding: 30px;
	order: 5;
}
body {
	background-color: #000;
}
.form__input {
	width: 100%;
	padding: 7px;
	margin: 6px 0;
	border: none;
	border-bottom: 2px solid #1c7;
	background-color: transparent;
	color: #fff;
}
.form__input:focus {
	background: linear-gradient(to bottom, transparent, #333);
	outline: none;
	border-bottom: 4px solid #5dd;
}
.form-img {
	flex: 1;
	display: flex;
	padding: 10px;
	min-width: 300px;
	max-width: 400px;
	order: 2;
	margin: auto;
}
.form textarea {
	min-height: 140px;
	resize: none;
}
.img-container {
	margin: auto;
	align-items: center;
}
.form-img img {
	width: 50%;
}
.form-img div {
	padding: 10px;
}
.img-container div {
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	padding: 20px;
	border: 3px solid blue;	
}
.form input[type="submit"] {
	background-color: #094;
	border-bottom: none;
	padding: 12px;
}
.form input[type="submit"]:hover {
	background-color: #072;
	border-bottom: none;
	padding: 12px;
}
.form input[type="submit"]:focus {
	background: #094;
}
.form input[type="submit"]:active {
	background: linear-gradient(to bottom, #072, #050);
}