* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}
.sticky-top {
    background-color: rgb(230,120,60) !important;
}
.col {
    background-color: blueviolet;
    border: 1px solid black;
}