@mixin general() {
    * {
        scrollbar-color: rgba(84, 38, 198, 0.66);
        scrollbar-width: thin;
        font-weight: 200;
        scroll-behavior: smooth;
        font-family: 'Amaranth', sans-serif;
    }
    body {
        background-color: $background;
        overflow-x: hidden;
        width: $anchovp;
        height: 100vh;
    }
    .navbar {
        background-color: $fondonav !important;
        .navbar-brand, .nav-link {
            color: $background !important;
        }
    }
}