@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 100%;
        height: 100%;
    }
    .main-index {
        height: min-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: fit-content fit-content 1fr;
        width: 100vw;
        grid-auto-flow: row;
        justify-content: center;
        .Index-Container {
        justify-self: center;
        grid-row: 1/2;
        height: fit-content !important;
    }
        .Index-Container > p {
        display: inline-block !important;
    }
        .form-section {
        width: 100%;
        justify-self: center;
        grid-row: 2/3;
    }
        .main-final {
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        grid-auto-flow: row;
        grid-row: 3/4;
    }
        .text-vid {
        grid-column: auto;
        grid-row: 1/2;
        justify-content: safe;
        flex-wrap: wrap;
    }
        .vid {
        grid-column: auto;
        grid-row: 2/3;
        width: 100%;
        justify-self: center;
    }
    }
}
@media screen and (max-width: 767px) {
    body {
        display: grid;
        grid-template-rows: repeat(3, fit-content);
        grid-auto-flow: row;
        grid-template-columns: auto;
        width: 100vw;
        height: 100%;
    }
    .navbar {
        grid-column: auto;
        grid-row: 1/2;
    }
    .main-index {
        grid-column: auto;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(2, fit-content);
        width: 100%;
        grid-auto-flow: row;
        justify-content: center;
        .Index-Container {
        grid-row: 1/2;
    }
        .form-section {
        justify-self: center;
        grid-row: 2/3;
    }
        .main-final {
        display: grid;
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        grid-auto-flow: row;
        grid-row: 3/4;
    }
        .text-vid {
        text-align: center;    
        grid-row: 1/2;
    }
        .vid {
        grid-column: auto;
        grid-row: 2/3;
        width: 100%;
        justify-self: center;
    }
    }
    .links {
        display: flex;
        flex-direction: column;
    }
    footer {
        grid-row: 3/4;
        grid-column: auto;
    }
}